
.search-width{
    width: 100%;
  }
  .searchDiv{
    position: fixed; 
    background: white;
    z-index: 1024;
    width: 100%; 
    margin-top: 0px;
    height: 100px; 
    padding-top: 20px;
    text-align: center;
    
  }
  .input-group {
    width: 95%;
  }  